@import '~bootstrap/scss/bootstrap';

@import './partials/general';
@import './partials/table';

.bg-custom{
    background-color: rgb(7, 7, 80);
}

.dropdown-menu{
    top: 100% !important;
    left: -2.5rem !important;
    margin-top: 0.5rem !important;
}
