td{
    vertical-align: middle;
    font-size: 0.8rem;
    i{
        font-size: 1.2rem;
    }
}

.btn-trash{
    padding: 0.65rem 0.9rem;
    &:hover{
        background-color: rgb(255, 215, 215);
    }
}

.btn-show,
.btn-edit {
    padding: 0.65rem 0.9rem;

    &:hover {
        background-color: aliceblue;
    }
}

.assigned,
.in_progress,
.closed{
    border-radius: 50px;
    padding: 0.35rem;
    text-align: center;
}

.assigned{
    background-color: rgb(186, 235, 186);
}

.in_progress {
    background-color: rgb(242, 216, 155);
}

.closed {
    background-color: rgb(237, 237, 237);
}

.text-badge{
    font-size: 12px;
    width: 10%;
}

.available,
.not_available{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 0.35rem;
}

.available {
    background-color: rgb(85, 185, 85);
}

.not_available {
    background-color: rgb(236, 69, 69);
}

