td{
    vertical-align: middle;
    font-size: 0.8rem;
    i{
        font-size: 1.2rem;
    }
}

.btn-trash{
    padding: 0.65rem 0.75rem;
    &:hover{
        background-color: rgb(255, 215, 215);
    }
}

.btn-show,
.btn-edit {
    padding: 0.65rem 0.75rem;

    &:hover {
        background-color: aliceblue;
    }
}

